.responsive {
    width: 25%;
    height: auto;
    align: center;
  }
  
  .lai {
      height: 30%;
      text-align: center;
  }
  body {
      background-color:#1E1F21;
      text-align: center;
      display: block;
  }
  @font-face {
    font-family: bits;
    src: url(fonts/8-BIT\ WONDER.TTF);
  }
  
  